<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"> -->
  </head>
  <body ng-app="angularSimpleApp">

    <div class="container-fluid" >
        <div class="row" >
            <div class="col-md-12" ng-view=""> </div>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/acc.js"></script>
    <script src="scripts/directives/mychart.js"></script>
    <script src="scripts/filters/genenamesfilter.js"></script>
    <script src="scripts/filters/markscountfilter.js"></script>
    <script src="scripts/filters/tssfilter.js"></script>
    <script src="scripts/filters/genelengthfilter.js"></script>
    <script src="scripts/controllers/modalzoom.js"></script>
    <!-- endbuild -->
    <script>
        var dispatch = d3.dispatch("reset_zoom_all","zoom_all");
    </script>

<div ng-controller="ModalzoomCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{regions[0].Gene}}</h3>
            <a id="zoom_reset" class="btn" onclick='dispatch.reset_zoom_all();'><i class="icon-zoom-in"></i>Reset Zoom</a>
        </div>

        <div class="modal-body">
            <div class = "graph-container" >
                <table>
                    <tr>
                        <td>
                            G0
                        </td>
                        <td>
                            <my-chart gene-data="G0Gene" gene-region = "regions" width = 1300 ticks=30 zoomed=1></my-chart>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MT
                        </td>
                        <td>
                            <my-chart gene-data="MTGene" gene-region = "regions" width = 1300 ticks=30 zoomed=1 ></my-chart>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MB
                        </td>
                        <td>
                            <my-chart gene-data="MBGene" gene-region = "regions" width = 1300 ticks=30 zoomed=1 ></my-chart>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MC
                        </td>
                        <td>
                            <my-chart gene-data="MCGene" gene-region = "regions" width = 1300 ticks=30 zoomed=1 ></my-chart>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-primary" ng-click="ok()">OK</button> -->
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
</body>
</html>
