<div ng-controller="AccCtrl" style="width:1700px; height:700px; margin-left:20px; margin-right:20px">
  <!-- <div class="container-fluid"> -->
    <div class="row">
      <h3>
        <a data-target="#" ng-model="collapsedFilter" ng-click="collapsedFilter=!collapsedFilter">Filters</a>
      </h3>
      <div ng-show="collapsedFilter" style="border:1px solid black">
        <br/>
        <div class="row">
          <div class="col-xs-4">
            <!-- <b>Generic Filters</b> <br/><br/> -->
            Gene Name: <input type="text" ng-list="/[, |]/" ng-model="filter.Gene" ng-model-options="{debounce: 2000}"/>
          </div>
          <div  class="col-xs-8">
            <!-- <b>Cell Type Based Filters</b> <br/><br/> -->
              Cell Type <select style="margin-right:10px;height:22px;" ng-model="myCellType" ng-options="cellType.name for cellType in cellTypes"></select><br/><br/>
              Marks Count: <select style="margin-right:10px;height:22px;" ng-model = "filter.selectedOperator" ng-model-options="{debounce: 1000}" ng-options="operator.name for operator in operators"></select>
              <input type="number" size=4 style="width:120px;text-align: right;" ng-model="filter.MarksCount" ng-model-options="{debounce: 1000}"><br/><br/>
              Distance from TSS(in KB): <input type="number" size=4 style="width:120px;text-align: right;" ng-model="filter.tssMarksDist"/>
              <!-- Marks Near TSS Count (>=): <input type="number" ng-model="filter.tssMarksCount"><br/> -->
              <br/>
              <br/>
          </div>
        </div>
      </div>
    <div/>
    <h3>
      <a data-target="#" ng-model="collapsedVisualization" ng-click="collapsedVisualization=!collapsedVisualization">
      Visualization - showing {{numFilteredGenes}}/{{numTotalGenes}} genes</a>
    </h3>
    <div ng-show="collapsedVisualization">
    <div class="legendHolder" id="legendHolder" style="border:1px solid black">
      <div class="row">
         <div id="legend" class="col-xs-4"></div>
         <div class="col-xs-8">Cell Types
           <input type="checkbox" ng-model="showG0">G0
           <input type="checkbox" ng-model="showMT">MT
           <input type="checkbox" ng-model="showMB">MB
           <input type="checkbox" ng-model="showMC">MC
         </div>
      </div>
    </div>
    <br/>
    <div>
      <div class="row">
          <div id="header">
            <table width="100%">
              <tr>
                <td ng-show="showG0" style="text-align: center">G0</td>
                <td ng-show="showMT" style="text-align: center">MT</td>
                <td ng-show="showMB" style="text-align: center">MB</td>
                <td ng-show="showMC" style="text-align: center">MC</td>
              </tr>
            </table>
            <div style="width:20px"></div>
          </div>
      </div>
        <div class="row">
          <div class = "graph-container-big" >
            <table>
               <tr>
                  <td style="border:1px double #4C7ED1;" ng-show="showG0">
                    <div>
                      <div class = "graph-panel" ng-style="{'background-color': G0Color}" ng-repeat="gene in Genes">
                        <a ng-click="openModal(gene)">{{gene[0].Gene}}</a>
                       <my-chart ng-click="openModal(gene)" gene-data="gene" cell=1 width = 400 ticks=5 zoomed=0></my-chart>
                      </div>
                    </div>
                  </td>
                  <td style="border:1px double #4C7ED1;" ng-show="showMT">
                    <div>
                      <div class = "graph-panel" ng-style="{'background-color': MTColor}" ng-repeat="gene in MTGenes">
                        <a ng-click="openModal(gene)">{{gene[0].Gene}}</a>
                        <my-chart ng-click="openModal(gene)" gene-data="gene" cell=2 width = 400 ticks=5 zoomed=0></my-chart>
                      </div>
                    </div>
                  </td>
                  <td style="border:1px double #4C7ED1;" ng-show="showMB">
                    <div>
                      <div class = "graph-panel" ng-style="{'background-color': MBColor}" ng-repeat="gene in MBGenes">
                        <a ng-click="openModal(gene)">{{gene[0].Gene}}</a>
                        <my-chart ng-click="openModal(gene)" gene-data="gene" cell=3 width = 400 ticks=5 zoomed=0 ></my-chart>
                      </div>
                    </div>
                  </td>
                  <td style="border:1px double #4C7ED1;" ng-show="showMC">
                    <div>
                      <div class = "graph-panel" ng-style="{'background-color': MCColor}" ng-repeat="gene in MCGenes">
                        <a ng-click="openModal(gene)">{{gene[0].Gene}}</a>
                        <my-chart ng-click="openModal(gene)" gene-data="gene" cell=4 width = 400 ticks=5 zoomed=0></my-chart>
                      </div>
                    </div>
                  </td>
                </tr>
            </table>
          </div>
        </div>
  <!-- </div> -->
</div>


